<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <header class="site-header" role="banner">
    <script>
    </script>

    <div class="header-container">
      <div class="responsive-space"></div>
      <div class="centered">
        {%- if page.center-text -%}
          <h1 class="home-title">{{ page.center-text }}</h1>
        {%- else -%}
          <h1 class="home-title">{{ page.title | escape }}</h1>
        {%- endif -%}
        <img src="/assets/thatfinn.png" class="round-image" >
      </div>

    </header>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
  </body>

</html>
